<div class="w-[318px] relative inline-block">
  <button
    type="button"
    (click)="toggleCalendar()"
    [ngClass]="customClass"
    class="w-full bg-white border-[1px] border-[#DEE2E6] p-3.5 font-extralight text-[#0D0F10] text-[14px] cursor-pointer text-left rounded flex items-center justify-start gap-[7px]"
  >
    <img src="/assets/images/calendar.svg" alt="Calendar Icon" />
    {{
      selectedDate
        ? (selectedDate | date : "dd MMMM yyyy" : "ka-GE")
        : "DD/MM/YYYY"
    }}
  </button>
  <div
    *ngIf="isOpen"
    class="absolute bg-white border-[1px] border-[#DEE2E6] p-4 flex flex-col items-center justify-center gap-[22px] w-full z-10 rounded-sm mt-1"
  >
    <div class="flex justify-between items-center font-extrabold p-1 w-full">
      <span>{{ georgianMonths[currentMonthIndex] }} {{ currentYear }}</span>
      <div>
        <button type="button" (click)="prevMonth()" class="px-2">
          <img src="/assets/images/date-arrow-up.svg" alt="Date Arrow Up" />
        </button>
        <button type="button" (click)="nextMonth()" class="px-2">
          <img src="/assets/images/date-arrow-down.svg" alt="Date Arrow Down" />
        </button>
      </div>
    </div>
    <div class="grid grid-cols-7 text-center font-normal text-[14px]">
      <ng-container *ngFor="let day of georgianDays">
        <div class="p-0.5">{{ day }}</div>
      </ng-container>
      <ng-container *ngFor="let date of daysInMonth">
        <button
          type="button"
          *ngIf="date"
          [ngClass]="{
            'bg-[#8338ec] text-white font-extrabold':
              selectedDate &&
              selectedDate.toDateString() === date.toDateString(),
            'hover:bg-neutral-100':
              !selectedDate ||
              selectedDate.toDateString() !== date.toDateString()
          }"
          (click)="setDate(date)"
          class="border-none p-2 cursor-pointer text-sm rounded-xs"
        >
          {{ date.getDate() }}
        </button>
        <div *ngIf="!date" class="invisible p-2"></div>
      </ng-container>
    </div>
    <div class="w-full flex justify-between p-1">
      <button
        type="button"
        (click)="isOpen = false"
        class="text-[#8338ec] font-normal text-[13px] cursor-pointer"
      >
        Cancel
      </button>
      <button
        type="button"
        (click)="isOpen = false"
        class="text-[#8338ec] font-normal text-[13px] cursor-pointer"
      >
        OK
      </button>
    </div>
  </div>
</div>
