<header class="w-full h-20 py-[30px] flex items-center justify-center">
  <nav class="w-full h-full flex items-center justify-between">
    <div
      class="flex items-center justify-center gap-1 cursor-pointer"
      (click)="redirectToHome()"
    >
      <h1 class="text-[#8338ec] text-[31px] font-fredoka-one">Momentum</h1>
      <img src="/assets/images/hourglass.svg" alt="Hour Glass" />
    </div>
    <div class="flex items-center justify-center gap-10">
      <button
        type="button"
        class="px-5 py-2.5 font-normal text-[#212529] rounded-[5px] border-[1px] border-[#8338ec] hover:border-[#B588F4]"
        (click)="openEmployeeModal()"
      >
        თანამშრომლის შექმნა
      </button>
      <button
        type="button"
        class="px-5 py-2.5 font-normal text-white rounded-[5px] bg-[#8338ec] hover:bg-[#B588F4] flex items-center justify-center gap-1"
        (click)="redirectToTaskForm()"
      >
        <img src="/assets/images/plus.svg" alt="Plus" />
        შექმენი ახალი დავალება
      </button>
    </div>
  </nav>
</header>
