<div
  class="w-[688px] pt-10 pb-5 px-[30px] rounded-[10px] bg-white border-[0.5px] border-solid border-[#8338EC] flex flex-col items-center justify-center gap-[25px]"
>
  <div class="w-full flex flex-col items-start justify-center gap-[22px]">
    <app-checkbox label="მარკეტინგის დეპარტამენტი" />
    <app-checkbox label="დიზაინის დეპარტამენტი" />
    <app-checkbox label="ლოჯისტიკის დეპარტამენტი" />
    <app-checkbox label="IT დეპარტამენტი" />
  </div>
  <div class="w-full flex items-center justify-end">
    <button
      type="button"
      class="w-[155px] px-5 py-2 bg-[#8338EC] rounded-[20px] text-white font-normal text-[16px] cursor-pointer"
    >
      არჩევა
    </button>
  </div>
</div>
