<div
  *ngIf="isVisible"
  class="w-[688px] pt-10 pb-5 px-[30px] rounded-[10px] bg-white border-[0.5px] border-solid border-[#8338EC] flex flex-col items-center justify-center gap-[25px]"
>
  <div class="w-full flex flex-col items-start justify-center gap-[22px]">
    <div *ngFor="let item of items">
      <app-checkbox
        [label]="item"
        [isChecked]="isItemSelected(item)"
        (change)="toggleItem(item)"
      ></app-checkbox>
    </div>
  </div>
  <div class="w-full flex items-center justify-end">
    <button
      type="button"
      class="w-[155px] px-5 py-2 bg-[#8338EC] rounded-[20px] text-white font-normal text-[16px] cursor-pointer hover:bg-[#B588F4]"
      (click)="apply()"
    >
      არჩევა
    </button>
  </div>
</div>
