<div class="w-full text-left">
  <h1 class="text-[34px] font-semibold text-[#212529]">
    შექმენი ახალი დავალება
  </h1>
</div>
<div
  class="w-full h-[804px] flex items-start justify-between my-[30px] pt-[65px] pl-[55px] pr-[368px] pb-[62px] bg-[#fbf9ffa6] border-[0.3px] border-solid border-[#DDD2FF] rounded-sm"
>
  <div class="w-[550px] flex flex-col items-center justify-center gap-[55px]">
    <div class="w-full flex flex-col items-start justify-center">
      <label
        for="task-title"
        class="font-normal text-[16px] py-1 text-[#343A40]"
      >
        სათაური*
      </label>
      <input
        type="text"
        id="task-title"
        class="w-full p-3.5 bg-white border-[1px] border-solid border-[#DEE2E6] rounded-[5px] outline-none text-[#0D0F10] font-light text-sm"
      />
      <div class="w-full flex flex-col items-start justify-center mt-1">
        <p class="text-[10px] text-[#6C757D] font-light">მინიმუმ 2 სიმბოლო</p>
        <p class="text-[10px] text-[#6C757D] font-light">
          მაქსიმუმ 255 სიმბოლო
        </p>
      </div>
    </div>
    <div class="w-full flex flex-col items-start justify-center">
      <label
        for="task-description"
        class="font-normal text-[16px] py-1 text-[#343A40]"
      >
        აღწერა
      </label>
      <textarea
        id="task-description"
        class="w-full p-3.5 h-[133px] resize-none bg-white border-[1px] border-solid border-[#DEE2E6] rounded-[5px] outline-none text-[#0D0F10] font-light text-sm"
      ></textarea>
      <div class="w-full flex flex-col items-start justify-center mt-1">
        <p class="text-[10px] text-[#6C757D] font-light">მინიმუმ 2 სიმბოლო</p>
        <p class="text-[10px] text-[#6C757D] font-light">
          მაქსიმუმ 255 სიმბოლო
        </p>
      </div>
    </div>
    <div class="w-full flex items-center justify-between">
      <div class="flex flex-col items-start justify-center">
        <label
          for="task-priority"
          class="font-normal text-[16px] py-1 text-[#343A40]"
        >
          პრიორიტეტი*
        </label>
        <ng-select
          id="task-priority"
          [items]="priorities"
          bindLabel="name"
          bindValue="id"
          [searchable]="false"
          [clearable]="false"
          [(ngModel)]="selectedPriorityID"
          class="w-[259px] p-3.5 bg-white border-[1px] border-solid border-[#DEE2E6] rounded-[5px] outline-none text-[#0D0F10] font-extralight text-sm"
        >
          <ng-template ng-label-tmp let-item="item">
            <div class="flex items-center">
              <img [src]="item.icon" class="mr-2" alt="{{ item.name }} Icon" />
              {{ item.name }}
            </div>
          </ng-template>
          <ng-template ng-option-tmp let-item="item">
            <div class="flex items-center">
              <img [src]="item.icon" class="mr-2" alt="{{ item.name }} Icon" />
              {{ item.name }}
            </div>
          </ng-template>
          <ng-template ng-arrowicon-tmp> </ng-template>
        </ng-select>
      </div>
      <div class="flex flex-col items-start justify-center">
        <label
          for="task-status"
          class="font-normal text-[16px] py-1 text-[#343A40]"
        >
          სტატუსი*
        </label>
        <ng-select
          id="task-status"
          [items]="statuses"
          bindLabel="name"
          bindValue="id"
          [searchable]="false"
          [clearable]="false"
          [(ngModel)]="selectedStatusID"
          class="w-[259px] p-3.5 bg-white border-[1px] border-solid border-[#DEE2E6] rounded-[5px] outline-none text-[#0D0F10] font-extralight text-sm"
        >
          <ng-template ng-label-tmp let-item="item">
            <div class="flex items-center">
              {{ item.name }}
            </div>
          </ng-template>
          <ng-template ng-option-tmp let-item="item">
            <div class="flex items-center">
              {{ item.name }}
            </div>
          </ng-template>
          <ng-template ng-arrowicon-tmp></ng-template>
        </ng-select>
      </div>
    </div>
  </div>
  <div class="w-[550px] flex flex-col items-center justify-center">
    <div class="w-full flex flex-col items-start justify-center mb-[33.4px]">
      <label
        for="department"
        class="font-normal text-[16px] py-1 text-[#343A40]"
      >
        დეპარტამენტი*
      </label>
      <ng-select
        id="department"
        [items]="departments"
        bindLabel="name"
        bindValue="id"
        [searchable]="false"
        [clearable]="false"
        [(ngModel)]="selectedDepartmentID"
        class="w-full p-3.5 bg-white border-[1px] border-solid border-[#DEE2E6] rounded-[5px] outline-none text-[#0D0F10] font-extralight text-sm"
      >
        <ng-template ng-label-tmp let-item="item">
          <div class="flex items-center">
            {{ item.name }}
          </div>
        </ng-template>
        <ng-template ng-option-tmp let-item="item">
          <div class="flex items-center">
            {{ item.name }}
          </div>
        </ng-template>
        <ng-template ng-arrowicon-tmp></ng-template>
      </ng-select>
    </div>
    <div class="w-full flex flex-col items-start justify-center mt-[55px]">
      <label
        for="responsible-employee"
        class="font-normal text-[16px] py-1 text-[#343A40]"
      >
        პასუხისმგებელი თანამშრომელი*
      </label>
      <ng-select
        id="responsible-employee"
        [items]="employees"
        bindLabel="name"
        bindValue="id"
        [searchable]="false"
        [clearable]="false"
        [(ngModel)]="selectedEmployeeID"
        class="w-full p-3.5 bg-white border-[1px] border-solid border-[#DEE2E6] rounded-[5px] outline-none text-[#0D0F10] font-extralight text-sm"
      >
        <ng-template ng-label-tmp let-item="item">
          <div class="flex items-center">
            <div class="flex items-center">
              <img [src]="item.icon" class="mr-2" alt="{{ item.name }} Icon" />
              {{ item.name }}
            </div>
          </div>
        </ng-template>
        <ng-template ng-option-tmp let-item="item">
          <div class="flex items-center">
            <div class="flex items-center">
              <img [src]="item.icon" class="mr-2" alt="{{ item.name }} Icon" />
              {{ item.name }}
            </div>
          </div>
        </ng-template>
        <ng-template ng-arrowicon-tmp></ng-template>
      </ng-select>
    </div>
    <div class="w-full flex flex-col items-start justify-center mt-[171.5px]">
      <label
        for="due-date"
        class="font-normal text-[16px] py-1 text-[#343A40]"
      >
        დედლაინი*
      </label>
      <input
        type="date"
        id="due-date"
        class="w-[318px] p-3.5 bg-white border-[1px] border-solid border-[#DEE2E6] rounded-[5px] outline-none text-[#0D0F10] font-light text-sm"
      />
    </div>
    <div class="w-full flex flex-col items-end justify-center mt-[147px]">
      <button class="py-2.5 px-5 bg-[#8338EC] text-white font-normal text-lg rounded-[5px]">
        დავალების შექმნა
      </button>
    </div>
  </div>
</div>
