<div
  *ngIf="isVisible"
  class="w-full h-full fixed top-0 left-0 z-100 flex items-center justify-center bg-[#0d0f1026]"
>
  <div
    class="w-[913px] h-[766px] px-10 py-[50px] flex flex-col items-center bg-white rounded-[10px]"
  >
    <div class="w-full flex items-center justify-end">
      <img
        src="/assets/images/cancel.svg"
        alt="Cancel Icon"
        class="cursor-pointer"
        (click)="closeModal()"
      />
    </div>
    <div
      class="w-full flex flex-col items-center justify-items-center gap-[45px] mt-[37px]"
    >
      <h2 class="font-medium text-[32px] text-[#212529]">
        თანამშრომლის დამატება
      </h2>
      <div class="w-full flex items-center justify-between gap-[45px]">
        <div class="w-[384px] flex flex-col items-start justify-center">
          <label
            for="first-name"
            class="font-medium text-sm text-[#343A40] mb-[3px]"
          >
            სახელი*
          </label>
          <div
            class="w-full flex items-center justify-between p-2.5 rounded-md border border-[#CED4DA] outline-none mb-[6px]"
          >
            <input
              type="text"
              id="first-name"
              [(ngModel)]="firstName"
              (ngModelChange)="validationService.validateFirstName(firstName)"
              class="w-full outline-none text-[#0D0F10] font-light text-sm"
            />
            <img
              src="/assets/images/important-icon.svg"
              alt="Important Icon"
              class="ml-2 flex-shrink-0"
            />
          </div>
          <p
            class="text-[10px] font-light flex items-center gap-0.5"
            [ngClass]="{
              'text-[#08A508]':
                firstName && validationService.validateFirstName(firstName),
              'text-[#FA4D4D]':
                firstName && !validationService.validateFirstName(firstName),
              'text-[#6C757D]': !firstName
            }"
          >
            <app-check-icon
              [strokeColor]="
                firstName && validationService.validateFirstName(firstName)
                  ? '#08A508'
                  : firstName && !validationService.validateFirstName(firstName)
                  ? '#FA4D4D'
                  : '#6C757D'
              "
            />
            მინიმუმ 2 სიმბოლო
          </p>
          <p
            class="text-[10px] font-light flex items-center gap-0.5"
            [ngClass]="{
              'text-[#08A508]':
                firstName && validationService.validateFirstName(firstName),
              'text-[#FA4D4D]':
                firstName && !validationService.validateFirstName(firstName),
              'text-[#6C757D]': !firstName
            }"
          >
            <app-check-icon [strokeColor]="
                firstName && validationService.validateFirstName(firstName)
                  ? '#08A508'
                  : firstName && !validationService.validateFirstName(firstName)
                  ? '#FA4D4D'
                  : '#6C757D'
              " />
            მაქსიმუმ 255 სიმბოლო
          </p>
        </div>
        <div class="w-[384px] flex flex-col items-start justify-center">
          <label
            for="last-name"
            class="font-medium text-sm text-[#343A40] mb-[3px]"
          >
            გვარი*
          </label>
          <div
            class="w-full flex items-center justify-between p-2.5 rounded-md border border-[#CED4DA] outline-none mb-[6px]"
          >
            <input
              type="text"
              id="last-name"
              [(ngModel)]="lastName"
              (ngModelChange)="validationService.validateLastName(lastName)"
              class="w-full outline-none text-[#0D0F10] font-light text-sm"
            />
            <img
              src="/assets/images/important-icon.svg"
              alt="Important Icon"
              class="ml-2 flex-shrink-0"
            />
          </div>
          <p
            class="text-[10px] font-light flex items-center gap-0.5"
            [ngClass]="{
              'text-[#08A508]':
                lastName && validationService.validateLastName(lastName),
              'text-[#FA4D4D]':
                lastName && !validationService.validateLastName(lastName),
              'text-[#6C757D]': !lastName
            }"
          >
            <app-check-icon [strokeColor]="
                lastName && validationService.validateLastName(lastName)
                  ? '#08A508'
                  : lastName && !validationService.validateLastName(lastName)
                  ? '#FA4D4D'
                  : '#6C757D'
              " />
            მინიმუმ 2 სიმბოლო
          </p>
          <p
            class="text-[10px] font-light flex items-center gap-0.5"
            [ngClass]="{
              'text-[#08A508]':
                lastName && validationService.validateLastName(lastName),
              'text-[#FA4D4D]':
                lastName && !validationService.validateLastName(lastName),
              'text-[#6C757D]': !lastName
            }"
          >
            <app-check-icon [strokeColor]="
                firstName && validationService.validateFirstName(firstName)
                  ? '#08A508'
                  : firstName && !validationService.validateFirstName(firstName)
                  ? '#FA4D4D'
                  : '#6C757D'
              " />
            მაქსიმუმ 255 სიმბოლო
          </p>
        </div>
      </div>
      <div class="w-full flex flex-col items-start justify-center gap-2">
        <label
          for="fileUpload"
          class="w-full flex flex-col items-start justify-center gap-2"
        >
          <span class="font-medium text-sm text-[#343A40]">ავატარი*</span>
          <div
            class="w-full h-[120px] rounded-lg border border-dashed border-[#CED4DA] flex flex-col items-center justify-center"
          >
            <input
              id="fileUpload"
              type="file"
              class="hidden"
              (change)="onFileSelected($event)"
            />
            <div
              *ngIf="!fileContent"
              class="w-[136px] h-[50px] flex flex-col items-center justify-center gap-[5px] cursor-pointer"
            >
              <img
                src="/assets/images/upload-image.svg"
                alt="Upload Image Icon"
              />
              <p class="font-normal text-sm text-[#343A40]">ატვირთეთ ფოტო</p>
            </div>
            <div
              *ngIf="fileContent"
              class="relative size-[88px] flex items-center justify-center"
            >
              <img
                [src]="fileContent"
                alt="Uploaded Image"
                class="size-full rounded-full"
              />
              <div
                class="bg-white absolute top-[66px] left-[66px] size-6 rounded-full p-[5px] border-[0.3px] border-[#6C757D] cursor-pointer"
                (click)="clearFileContent($event)"
              >
                <img src="/assets/images/trash-icon.svg" alt="Trash Icon" />
              </div>
            </div>
          </div>
        </label>
      </div>
      <div class="w-full flex items-center justify-start">
        <label
          for="department"
          class="w-[384px] flex flex-col items-start justify-center"
        >
          <span class="font-medium text-sm text-[#343A40] mb-[3px]">
            დეპარტამენტი*
          </span>
          <div
            class="w-full flex items-center justify-between p-2.5 rounded-md border border-[#CED4DA] mb-[6px]"
          >
            <input
              type="text"
              id="department"
              [(ngModel)]="department"
              (ngModelChange)="validationService.validateDepartment(department)"
              class="w-full h-full outline-none text-[#0D0F10] font-light text-sm bg-transparent pr-2"
            />
            <img
              src="/assets/images/important-icon.svg"
              alt="Important Icon"
              class="w-5 h-5 flex-shrink-0"
            />
          </div>
        </label>
      </div>
      <div class="w-full flex items-center justify-end gap-[22px]">
        <button
          type="button"
          class="px-4 py-2.5 border-[1px] border-[#8338ec] font-normal text-[16px] text-[#343A40] rounded-[5px] hover:border-[#B588F4]"
          (click)="closeModal()"
        >
          გაუქმება
        </button>
        <button
          type="button"
          class="px-5 py-2.5 bg-[#8838ec] font-normal text-[18px] text-white rounded-[5px] hover:bg-[#B588F4]"
          [disabled]="!checkDataValidation()"
          (click)="submitFormData()"
        >
          დაამატე თანამშრომელი
        </button>
      </div>
    </div>
  </div>
</div>
