@import "tailwindcss";
@import "./assets/fonts/fonts.css";

body {
    font-family: "FiraGO", sans-serif;
    padding: 0 120px;
}

.font-fredoka-one {
    @apply font-sans;
    font-family: "Fredoka One", sans-serif;
}

input, button, textarea {
    font-family: inherit;
}

button {
    cursor: pointer;
}